{% extends 'base.html.twig' %}

{% block title %}Créer une plaque
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Créer une plaque</h1>
			</div>
			<div class="card bg-dark col-10 col-md-9 col-lg-6 mx-auto text-center">
				{{ form_start(numberPlateForm)}}<br>
				{{ form_row(numberPlateForm.number)}}<br>
				{{ form_row(numberPlateForm.carrier)}}<br>
				<button type="submit" class="btn btn-primary btn-lg">Créer</button>
				{{ form_end(numberPlateForm)}}
			</div>
		</div>
	</section>
{% endblock %}
